@import url("https://fonts.googleapis.com/css?family=Muli&display=swap");

body {
  background-image: url("../public/assets/stars.jpg");
  background-size: cover;
}

.card-container {
  background-image: url("../public/assets/idle.gif");
  border-radius: 10px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
  display: flex;
  max-width: 100%;
  margin: 20px;
  overflow: hidden;
}

.card-body {
  padding: 30px;
  position: relative;
  width: 100%;
  height: 200px;
}

.progress-container {
  position: absolute;
  top: 30px;
  right: 30px;
  text-align: right;
  width: 150px;
}

.progress {
  background-color: #ddd;
  border-radius: 3px;
  height: 5px;
  width: 100%;
}

.seat {
  border-radius: 3px;
  background-color: #2a265f;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 5px;
  width: 0%;
}

.players {
  color: white;
}

.leave-button {
  background-color: #f00a0a;
  border: 0;
  border-radius: 50px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
  font-size: 16px;
  padding: 12px 25px;
  position: absolute;
  bottom: 30px;
  left: 30px;
  letter-spacing: 1px;
  color: white;
  cursor: pointer;
}

.btn {
  background-color: #2a265f;
  border: 0;
  border-radius: 50px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
  font-size: 16px;
  padding: 12px 25px;
  position: absolute;
  bottom: 30px;
  right: 30px;
  letter-spacing: 1px;
  color: white;
  cursor: pointer;
}

.btn:disabled {
  background-color: #5f6670;
}

.duel-room {
  padding: 50px;
  display: flex;
  justify-content: space-between;
}

.white-text {
  color: white;
}

.inline {
  margin-left: -12px;
  margin-right: -12px;
  row-gap: 0px;
}

.cell {
  width: 50px;
  height: 50px;
  border: 1px solid white;
  display: flex;
  flex: 0 0 10%;
  max-width: 10%;
  justify-content: center;
  padding: 5px;
}

.cell img {
  width: 40px;
  width: 40px;
  margin: auto;
}

.end-game-animation {
  position: absolute;
  height: 400px;
  width: 500px;
  margin-left: -12px;
}
